<div class="{{ng-init()}}" ng-controller="DashboardController">
    <p>dashboard: {{result}}</p>

  <li ng-class="getPath('/dashboard')"><a href="/#!/dashboard">Dashboard</a></li>
  <li ng-class="getPath('/properties')"><a href="/#!/properties">Properties</a></li>

</div>


