<h3>The Beginning</h3>

<div ng-controller="MainController" class="{{ng-init()}}">

  <h1>Hey {{result}}</h1>

</div>

<div class="panel.panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">FrontEnd</h3>
  </div>
  <div class="panel-body">
    <ul>

    </ul>
  </div>
</div>

<div class="panel.panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Backend</h3>
  </div>
  <div class="panel-body">
    h3 API

    p Log in with email and password using HTTP Basic Auth. Auth token will be returned that should be used in all consecutive requests.
    pre curl #{request.url}api/session -d '' -u EMAIL:PASSWORD
  </div>
</div>


